#{extends 'main.html' /} 
#{set title:'Welcome' /}

<head>
    <title>Input</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/public/semantic/semantic.min.css">
    <script src="/public/javascripts/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script> 
    <script src="/public/semantic/semantic.js"></script>
 </head>

<body>

<nav class="ui red menu">
  <a class="ui item" href="/tenanthome">Home</a>
  <a class="ui active item" href="/tenantseditprofile">Edit Profile</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/tenantlogout">Log Out</a>
</nav>

<table class="ui table segment">
    <thead>
     <tr>
       <th>Tenant(First)</th>
       <th>Tenant(Last)</th>
       <th>Email</th>
       <th>Password</th>
       <th>ID</th>
       <th>Residence ID</th>
     </tr>
  </thead>
   <tbody>
     <tr>
     <td>${tenant.firstName}</td> 
     <td>${tenant.lastName}</td>
     <td>${tenant.email}</td>
     <td>${tenant.password}</td>
     <td>${tenant.id}</td>
     <td>${residence_id}</td>
     </tr>
    </tbody>
   </table>

<section class="ui segment">
<form action="/tenantreregister" method="POST">
<div class="ui two column grid">
 <div class="column">
  <div class="ui fluid form segment">
   <h3 class="ui header">Edit Profile</h3><h6 class="ui header">Current Details Displayed Above</h6>
   <h4 class="ui header">Details left empty will remain blank</h4>
    <div class="two fields">
    
    
    <input type=hidden id="tenant.id" name="tenant.id" value=${tenant.id}>
    <input type=hidden id="residence_id" name="residence_id" value=${residence_id}>
      
     
    <div class="field">
      <label>First Name</label>
      <input id="tenant.firstName" name="tenant.firstName" value="${tenant.firstName}" type="text">
     </div>
    
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" id="tenant.lastName" name="tenant.lastName" value="${tenant.lastName}" type="text">
    </div>
   
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" id="tenant.email" name="tenant.email" value="${tenant.email}" type="text">
    </div>
    
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" id="tenant.password" name="tenant.password"  value="${tenant.password}" type="password">
    </div>
   
   <h6>You Have already Accepted T&C's</h6>   
     
    
    
    <div>
     <button type="submit" class="ui blue submit button">Submit</button>
    </div>
    
     </div>
     </div>
    </div>
   
      
    </div>
  </div>
  </form>
 </section>
</body>
</html>