#{extends 'main.html' /} 
#{set title:'Welcome' /}

<nav class="ui red menu">
  <a class="ui active item" href="/adminhome">Home</a>
  <a class="ui item" href="/adminreport">Report</a>
  <a class="ui item" href="/adminlogout">Log Out</a>
</nav>

<section class="ui segment">
<form action="/adminregistertenant" method="POST">
<div class="ui two column grid">
 <div class="column">
  <div class="ui fluid form segment">
   <h3 class="ui header">Sign Up</h3>
    <div class="two fields">
    
     <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" id="firstName" name="tenant.firstName" type="text">
     </div>
    
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" id="lastName" name="tenant.lastName" type="text">
    </div>
    
    
    
    
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" name="tenant.email" type="text">
    </div>
    
    <div class="field">
      <label>Password</label>
      <input type="password" name="tenant.password">
    </div>
    
     
    <div class="field">
      <input id="tenant.conditions" type="hidden" name="tenant.conditions" value="true">
    </div>
    
    
    <div>
     <button type="submit" class="ui blue submit button">Submit</button>
    </div>
    
     </div>
     </div>
    </div>
      <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map_canvas"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYJeS8GlglM6j-hk6GNPd9bxz-vxMcgAI&sensor=false"></script>
          <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
        </div>
   
  </div>
 </form>
</section>