#{extends 'main.html' /} 
#{set title:'Welcome' /}


 <head>
    <title>Input</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/public/semantic/semantic.min.css">
    <script src="/public/javascripts/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/semantic/semantic.js"></script>
  </head>


<nav class="ui red menu">
    <a class="ui active item" href="/">Home</a>
    <a class="ui item" href="/signup">Landlords</a>    
    <a class="ui item" href="/tenantsignup">Tenants</a>
    <a class="ui item" href="/adminlogin">Administrators</a>
</nav>

<h1>My Rent</h1>
<div class="ui two column grid">
<div class="column">
<table>
    <tr>
      <td>
       
        <h2>Landlords & Tenants</h2>
        <P> Map Version</p>
        <h3>Landlord's register here</h3>
        <p><a href ="/signup">Landlord Register</a> or <a href ="/login">Landlord Sign in</a></p>
        <h3>Tenant's register here</h3>
        <p><a href ="/tenantsignup">Tenants Register</a> or <a href ="/tenantlogin">Tenants Sign in</a></p>
        <h3>Administrators login</h3>
        <p><a href ="/adminlogin">Administrators</a></p>
        
        <h3>Get Renting</h3>
        </td>
        </tr>
        </table>
  </div>
       
     <div class="column">
       <div class="ui raised fluid form segment">
          <div id="map_canvas"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYJeS8GlglM6j-hk6GNPd9bxz-vxMcgAI&sensor=false"></script>
          <script src="/public/javascripts/reportmap.js" type="text/javascript" charset="utf-8"></script>
        </div>   
      </div>
</div>