#{extends 'main.html' /} 
#{set title:'Welcome' /}

<nav class="ui red menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/login">Log In</a>
</nav>
 
<section class="ui segment">
<form action="/adminauthenticate" method="POST">
<div class="ui two column grid">
 <div class="column">
  <div class="ui fluid form segment">
   <h3 class="ui header">Log-In</h3>
   <div class="field">
    <label>Email</label>
    <input placeholder="Email" name="email" type="text">
   </div>
   <div class="field">
     <label>Password</label>
     <input placeholder="Password" name="password" type="password">
   </div>
    <button type="submit" class="ui blue submit button">Login</button>
   </div>
  </div>
   <div class="column">
        <div class="ui raised fluid form segment">
         <div id="map_canvas"></div>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYJeS8GlglM6j-hk6GNPd9bxz-vxMcgAI&sensor=false"></script>         
         <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script>
         </div>  
        </div>
    </div>
 </form>
</section>